# CMake build trees
build/
build-*/
build_*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake
Testing/
_deps/
*.ninja
.ninja_*
Makefile
install_manifest.txt

# Generated binaries and IDE files
*_artefacts/
JuceLibraryCode/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.dir/
*.obj
*.pdb
*.ilk
*.idb
*.ipdb
*.iobj
*.exp
*.lib
*.dll
*.vst3
*.component
*.app
*.exe
*.log
