build/
build-*/
build_*/
JUCE/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake
Testing/
_deps/
*.ninja
.ninja_*
Makefile
install_manifest.txt
*_artefacts/
JuceLibraryCode/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.obj
*.pdb
*.ilk
*.idb
*.ipdb
*.iobj
*.exp
*.lib
*.dll
*.vst3
*.component
*.app
*.exe
*.log
release/
installer/output/
installer/staging/
